CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.bkp
/Example_codes/Lab9-1-SPI-OLED-Bringup/build-v6
/Example_codes/Lab9-1-SPI-OLED-Bringup/build
/Example_codes/Lab9-1_OLED_BringUp/build
/Example_codes/Lab9-SPI-OLED-MultiZone/build
/Lab9_Codes/ESP32.Kestrel.Webserver/bin
/Lab9_Codes/ESP32.Kestrel.Webserver/obj
/Lab9_Codes/Lab9-3-ESP32-ClosedLoop/build
/Example_codes/ESP32.Kestrel.Webserver/obj
